@import '../../scss/variables.scss';

.quizcontainer {
  padding-top: 65px;
}

.header {
  background-color: black;
  color: $primary;
  font-size: 16px;
  font-weight: bold;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;

  > div {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: space-between;
  }

  .right {
    display: flex;

    > .points {
      margin: 0;
      margin-right: 20px;
    }
  }

  .logo {
    width: 100px;
  }
}
