  @import '../../scss/variables.scss';

.homecontainer{
  color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  
  > .logo{
    display: block;
    margin: auto;
    max-width: 400px;
    width: 100%;
  }

  > .intotitle{
    margin-bottom: 0px;
    font-weight: bold;
  }
  > .into{
    margin-top: 3px;
    margin-bottom: 20px;
  }
}

:global{
  body{
    background: rgba(0, 0, 0, 1);
  }
}